DATABASE_URL=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost,1433;DATABASE=GestionDatosSiniestros;UID=usuario;PWD=contrasena;Encrypt=no

SECRET_KEY=cambia-esto-por-una-clave-aleatoria-larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
